pandas==2.3.0
numpy<2
matplotlib==3.10.3
seaborn==0.13.2
requests==2.32.4
beautifulsoup4==4.13.4
searchlite @ git+https://github.com/r0hankrishnan/searchlite.git
datashelf @ git+https://github.com/r0hankrishnan/datashelf.git
sentence-transformers==4.1.0
marimo==0.14.13